.header {
  @include outer-container;
  height: $header-height;
  padding: 0 1em;
  z-index: 9999;

  @include media($menu-desktop) {
    text-align: right;
  }

  .logo {
    float: left;
    line-height: $header-height - 4px;

    img {
      display: inline-block;
      height: 37px;
      margin-top: 0;
      vertical-align: middle;
      width: 164px;
    }
  }

  .main-nav {
    display: none;

    @include media($menu-desktop) {
      display: inline-block;

      ul:hover li > a {
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }

      li {
        display: inline-block;
        float: left;
        line-height: $header-height;
      }

      a {
        @include transition(opacity 0.2s ease);
        color: $gray-menu;
        display: block;
        font-size: 1em;
        font-weight: bold;
        padding: 0 20px;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $orange;
        }
      }

      // Homepage
      @at-root body.index & a {
        color: $white;

        &:hover,
        &:focus,
        &:active,
        &.active {
          color: $orange;
        }
      }
    }
  }

  .flags {
    margin-right: 10px;

    a {
      @include transition(opacity 0.2s ease);
      display: inline-block;
      margin-right: 3px;
      opacity: 0.9;
      padding: 0;

      &:last-child {
        margin-right: 0;
      }

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 18px;
    }
  }
}
